.key.outer {
	display: inline-block;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(170, 170, 170);
	width: 44px;
	height: 54px;
	background-color: rgb(200, 200, 200);
	padding: 2px 4px 0px 4px;
}

.key.outer.not_selected:hover {
	background-color: rgb(174, 213, 129);
	border-color: rgb(174, 213, 129);
}

.key.selected {
	background-color: rgb(38, 166, 154);
	border-color: rgb(0, 137, 123);
}

.key.inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(190, 190, 190);
	min-height: 41px;
	min-width: 36px;
	background-color: white;
	font-size: 0.5em;
	white-space: pre-wrap;
}

.size_1p25 .key.outer {
	width: 57px;
}

.size_1p5 .key.outer {
	width: 71px;
}

.size_1p75 .key.outer {
	width: 80px;
}

.size_2 .key.outer {
	width: 98px;
}

.size_2p25 .key.outer {
	width: 116px;
}

.vertical.size_2 .key.outer {
	height: 112px;
	width: 44px;
}

.vertical.size_2 .key.outer .inner {
	height: 99px;
}

.size_2p75 .key.outer {
	width: 134px;
}

.size_space .key.outer {
	width: 331px;
}

.mouse_key .key.outer {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 45px;
}