.key.outer {
	display: inline-block;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(170, 170, 170);
	min-width: 54px;
	min-height: 54px;
	background-color: rgb(200, 200, 200);
}

.key.outer.not_selected:hover {
	background-color: rgb(174, 213, 129);
	border-color: rgb(174, 213, 129);
}

.key.selected {
	background-color: rgb(38, 166, 154);
	border-color: rgb(0, 137, 123);
}

.key.inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(190, 190, 190);
	min-height: 41px;
	min-width: 46px;
	background-color: white;
	margin: 2px 4px 8px 4px;
	font-size: 1.3em;
	white-space: pre-wrap;
}

.size_1p25 .key.outer {
	width: 68px;
}

.size_1p5 .key.outer {
	width: 85px;
}

.size_1p75 .key.outer {
	width: 104px;
}

.size_2 .key.outer {
	width: 114px;
}

.size_2p25 .key.outer {
	width: 124px;
}

.size_2p75 .key.outer {
	width: 162px;
}

.size_space .key.outer {
	width: 378px;
}