<div style="width:1390px" layout="column">
	<div layout="row">
		<div class="full first_row keyboard_row">
			<key key="{}"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key>
		</div>
	</div>
	<div layout="row">
		<div class="full main_area">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}" class="size_2">
			</key>
		</div>
		<div class="full center_area">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
		</div>
		<div class="full number_area">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}"></key>
		</div>
	</div>
	<div layout="row">
		<div class="full main_area">
			<key key="{}" class="size_1p5">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}" class="size_1p5">
			</key>
		</div>
		<div class="full center_area">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
		</div>
		<div class="full number_area">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key>
		</div>
	</div>
	<div layout="row">
		<div class="full main_area">
			<key key="{}" class="size_1p75">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}" class="size_2p25">
			</key>
		</div>
		<div class="full center_area"></div>
		<div class="full number_area">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key>
		</div>
	</div>
	<div layout="row">
		<div class="full main_area">
			<key key="{}" class="size_2p25">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}" class="size_2p75">
			</key>
		</div>
		<div class="full center_area" layout="row"  layout-align="center">
			<key key="{}"></key>
		</div>
		<div class="full number_area">
			</key><key key="{}">
			</key><key key="{}">
			</key><key key="{}">
			</key>
		</div>
	</div>
	<div layout="row">
		<div class="full main_area">
			<key key="{}" class="size_1p25">
			</key><key key="{}" class="size_1p25">
			</key><key key="{}" class="size_1p25">
			</key><key key="{}" class="size_space">
			</key><key key="{}" class="size_1p25">
			</key><key key="{}" class="size_1p25">
			</key><key key="{}" class="size_1p25">
			</key><key key="{}" class="size_1p25">
			</key>
		</div>
		<div class="full center_area">
			<key key="{}">
			</key><key key="{}">
			</key><key key="{}">
		</div>
		<div class="full number_area">
			</key><key key="{}" class="size_2">
			</key><key key="{}">
			</key>
		</div>
	</div>
</div>