<div style="width:1290px" layout="column">
	<div layout="row">
		<div class="full first_row keyboard_row">
			<key key-obj="key_data[0]"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key-obj="key_data[1]">
			</key><key key-obj="key_data[2]">
			</key><key key-obj="key_data[3]">
			</key><key key-obj="key_data[4]"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key-obj="key_data[5]">
			</key><key key-obj="key_data[6]">
			</key><key key-obj="key_data[7]">
			</key><key key-obj="key_data[8]"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key-obj="key_data[9]">
			</key><key key-obj="key_data[10]">
			</key><key key-obj="key_data[11]">
			</key><key key-obj="key_data[12]"></key>
		</div>
		<div class="full first_row keyboard_row">
			<key key-obj="key_data[13]">
			</key><key key-obj="key_data[14]">
			</key><key key-obj="key_data[15]">
			</key>
		</div>
	</div>
	<div layout="row">
		<div class="full main_area">
			<key key-obj="key_data[16]">
			</key><key key-obj="key_data[17]">
			</key><key key-obj="key_data[18]">
			</key><key key-obj="key_data[19]">
			</key><key key-obj="key_data[20]">
			</key><key key-obj="key_data[21]">
			</key><key key-obj="key_data[22]">
			</key><key key-obj="key_data[23]">
			</key><key key-obj="key_data[24]">
			</key><key key-obj="key_data[25]">
			</key><key key-obj="key_data[26]">
			</key><key key-obj="key_data[27]">
			</key><key key-obj="key_data[28]">
			</key><key key-obj="key_data[29]" class="size_2">
			</key>
		</div>
		<div class="full center_area">
			<key key-obj="key_data[30]">
			</key><key key-obj="key_data[31]">
			</key><key key-obj="key_data[32]">
		</div>
		<div class="full number_area">
			<key key-obj="key_data[33]">
			</key><key key-obj="key_data[34]">
			</key><key key-obj="key_data[35]">
			</key><key key-obj="key_data[36]"></key>
		</div>
	</div>
	<div layout="row">
		<div>
			<div layout="row">
				<div class="full main_area">
					<key key-obj="key_data[37]" class="size_1p5">
					</key><key key-obj="key_data[38]">
					</key><key key-obj="key_data[39]">
					</key><key key-obj="key_data[40]">
					</key><key key-obj="key_data[41]">
					</key><key key-obj="key_data[42]">
					</key><key key-obj="key_data[43]">
					</key><key key-obj="key_data[44]">
					</key><key key-obj="key_data[45]">
					</key><key key-obj="key_data[46]">
					</key><key key-obj="key_data[47]">
					</key><key key-obj="key_data[48]">
					</key><key key-obj="key_data[49]">
					</key><key key-obj="key_data[50]" class="size_1p5">
					</key>
				</div>
				<div class="full center_area">
					<key key-obj="key_data[51]">
					</key><key key-obj="key_data[52]">
					</key><key key-obj="key_data[53]">
				</div>
				<div class="full number_area">
					<key key-obj="key_data[54]">
					</key><key key-obj="key_data[55]">
					</key><key key-obj="key_data[56]">
					</key>
				</div>
			</div>
			<div layout="row">
				<div class="full main_area">
					<key key-obj="key_data[57]" class="size_1p75">
					</key><key key-obj="key_data[58]">
					</key><key key-obj="key_data[59]">
					</key><key key-obj="key_data[60]">
					</key><key key-obj="key_data[61]">
					</key><key key-obj="key_data[62]">
					</key><key key-obj="key_data[63]">
					</key><key key-obj="key_data[64]">
					</key><key key-obj="key_data[65]">
					</key><key key-obj="key_data[66]">
					</key><key key-obj="key_data[67]">
					</key><key key-obj="key_data[68]">
					</key><key key-obj="key_data[69]" class="size_2p25">
					</key>
				</div>
				<div class="full center_area"></div>
				<div class="full number_area">
					<key key-obj="key_data[70]">
					</key><key key-obj="key_data[71]">
					</key><key key-obj="key_data[72]">
					</key>
				</div>
			</div>
			<div layout="row">
				<div class="full main_area">
					<key key-obj="key_data[73]" class="size_2p25">
					</key><key key-obj="key_data[74]">
					</key><key key-obj="key_data[75]">
					</key><key key-obj="key_data[76]">
					</key><key key-obj="key_data[77]">
					</key><key key-obj="key_data[78]">
					</key><key key-obj="key_data[79]">
					</key><key key-obj="key_data[80]">
					</key><key key-obj="key_data[81]">
					</key><key key-obj="key_data[82]">
					</key><key key-obj="key_data[83]">
					</key><key key-obj="key_data[84]" class="size_2p75">
					</key>
				</div>
				<div class="full center_area">
					<key key-obj="key_data[85]"></key>
				</div>
				<div class="full number_area">
					<key key-obj="key_data[86]">
					</key><key key-obj="key_data[87]">
					</key><key key-obj="key_data[88]">
					</key>
				</div>
			</div>
			<div layout="row">
				<div class="full main_area">
					<key key-obj="key_data[89]" class="size_1p25">
					</key><key key-obj="key_data[90]" class="size_1p25">
					</key><key key-obj="key_data[91]" class="size_1p25">
					</key><key key-obj="key_data[92]" class="size_space">
					</key><key key-obj="key_data[93]" class="size_1p25">
					</key><key key-obj="key_data[94]" class="size_1p25">
					</key><key key-obj="key_data[95]" class="size_1p25">
					</key><key key-obj="key_data[96]" class="size_1p25">
					</key>
				</div>
				<div class="full center_area">
					<key key-obj="key_data[97]">
					</key><key key-obj="key_data[98]">
					</key><key key-obj="key_data[99]">
				</div>
				<div class="full number_area">
					<key key-obj="key_data[100]" class="size_2">
					</key><key key-obj="key_data[101]">
					</key>
				</div>
			</div>
		</div>
		<div layout="column">
			<key key-obj="key_data[102]" class="size_2 vertical">
			</key><key key-obj="key_data[103]" class="size_2 vertical">
			</key>
		</div>
	</div>
</div>
<div layout="row" class="md-padding" ng-show="current_key">
	<h2>Select Special Key</h2>
	<md-input-container>
		<label>Key</label>
		<md-select ng-model="current_key">
			<md-option ng-repeat="key in consumer_data" value="{{key}}" ng-click="set_consumer_key(key)">{{key.representation}}</md-option>
		</md-select>
	</md-input-container>
</div>