<div layout="row" layout-align="center center">
	<div class="layout-padding">
		<div layout="column">
			<div layout="column" layout-align="center center">
				<p>Mouse Mode Switch Key</p>
				<key key-obj="mouse_settings.switch_key"></key>
			</div>
			<md-list>
				<md-subheader>Mouse Move Precision Setting Pairs</md-subheader>
					<md-list-item class="md-3-line" ng-repeat="precision_pair in mouse_settings.precisions">
						<key key-obj="precision_pair.key"></key>
						<md-input-container>
							<label>Pixel</label>
							<input ng-model="precision_pair.pixels">
						</md-input-container>
						<md-button class="md-raised md-warn" ng-click="remove_pair(precision_pair)">Delete</md-button>
					</md-list-item>
					<md-list-item class="md-3-line">
						<md-button class="md-raised md-primary" ng-click="add_one_pair()">Add Setting Pair</md-button>
					</md-list-item>
			</md-list>
		</div>
	</div>
	<div flex="nogrow" layout="column" class="layout-padding">
		<div flex layout="column" layout-align="center center">
			<div class="upper_triangle"></div>
			<key key-obj="mouse_settings.actinos[2]"></key>
		</div>
		<div flex layout="row" layout-align="center center">
			<div flex="nogrow" layout="row">
				<div class="left_triangle"></div>
				<key key-obj="mouse_settings.actinos[4]"></key>
			</div>
			<div id="mouse_shell">
				<div layout="row">
					<key class="mouse_key" key-obj="mouse_settings.actinos[0]"></key>
					<key class="mouse_key" key-obj="mouse_settings.actinos[1]"></key>
				</div>
				<div class="key outer mouse_button"></div>
			</div>
			<div flex="nogrow" layout="row">
				<key key-obj="mouse_settings.actinos[5]"></key>
				<div class="right_triangle"></div>
			</div>
		</div>
		<div flex layout="column" layout-align="center center">
			<key key-obj="mouse_settings.actinos[3]"></key>
			<div class="lower_triangle"></div>
		</div>
	</div>
</div>